@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#content {
  position: relative;
  z-index: 3;
  
  }


 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

a{
  color: #353535;
  text-decoration: none;
}

.navbar{
  padding: 2rem 2rem;
  font-size: 2rem;
  color: #353535;
  display: flex;
  justify-content: flex-end;
  min-height: 130px;
  
}

.navbar__list{
  list-style: none;
  margin-right: 1rem;
  text-align: end;
  
  
}

.navbar__about{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
  margin-bottom: .7rem;
  
}

.navbar__about:hover{
  font-weight: 700;
  letter-spacing: .15rem;
  opacity: .6;
}



.navbar__portfolio{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
  margin-bottom: .7rem;
  
  
} 

.navbar__portfolio:hover{
  font-weight: 700;
  letter-spacing: .15rem;
  opacity: .6;
}

.navbar__blog{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
}

.navbar__blog:hover{
  font-weight: 700;
  letter-spacing: .15rem;
  opacity: .6;
}

.vertical-bar__short{
  height: 3rem;
  width: 0.5rem;
  background: #353535;
  margin-right: .6rem;
  animation-name: descend;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.vertical-bar__mid{
  height: 6rem;
  width: 0.5rem;
  background: #353535;
  margin-right: .6rem;
  animation-name: descend2;
  animation-duration: 2s;
  animation-delay: .25s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.vertical-bar__long{
  height: 9rem;
  width: 0.5rem;
  background: #353535;
  margin-right: .6rem;
  animation-name: descend3;
  animation-duration: 2.5s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

@keyframes descend{
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height: 3rem;
    opacity: 1;
  }
}

@keyframes descend2{
  0%{
    height: 0;
    opacity: 0;
  }
  
  100%{
    height: 6rem;
    opacity: 1;
  }
}

@keyframes descend3{
  0%{
    height: 0;
    opacity: 0;
  }
  
  100%{
    height: 9rem;
    opacity: 1;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  
  100%{
    opacity: 1;
  }
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  
}

.layer1 {
  background-image: url('./static/headerwave.svg');

  
}


@keyframes slide{
  0% {
    width: 0%;
  }
  
  100% {
    width: 100%;
  }
  
}


.outer {
  display: inline-block;
  position: absolute;
  color: rgba(128, 128, 128, 0.25);
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  
  
  
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #1a1a1a;
  
  
}

.inner {
  overflow: hidden;
  white-space: nowrap;
  animation: slide 3s ease-in-out forwards;
  
  
}


.intro
{
  margin-top: 15vh;
  text-align: left;
  
  font-size: 4vh;
  margin-left: 46vh;
  
  
  
 
  
}

.line1 {
  animation: fadeIn linear .6s;
}

.line2 {
  animation: fadeIn linear 1.2s;
  
}

.line3 {
  animation: fadeIn linear 1.8s;
}

.line4 {
  animation: fadeIn linear 2.4s;
}

.line5 {
  animation: fadeIn linear 3s;
}

.line6 {
  animation: fadeIn linear 3.6s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}}

  .socials ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .socials ul li {
    list-style: none;
  }
  
  .socials ul li a {
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
  }
  
  .socials ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .socials ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .socials ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .socials ul li a:hover:before {
    top: 0;
  }
  
  .socials ul li:nth-child(1) a:before{
    background: #0072b1;
  }
  
  .socials ul li:nth-child(2) a:before{
    background: #de5246;
  }
  
  .socials ul li:nth-child(3) a:before {
    background: #9e9494;
  }
  
  .socials ul li:nth-child(4) a:before {
    background: #9e9494;
  }

  .socials ul {
    margin-top: 65vh;
    
  }

  .socials li {
    animation: fadeInSocials 5s ease-in forwards
  }

  @keyframes fadeInSocials {
    0% {opacity:0;}
    70% {opacity:0;}
    100% {opacity:1;}}

.jobs {
  font-size: 4vh;
  text-align: center;
  margin-top: 15rem;

  
}

.coming{
  text-align: center;
  font-size: 10em;
}